<div class="container">
<br/><br/>
<div style="margin:0px auto; width:75%; text-align:center">
<br/><br/>
<h1>Welcome to Digital Pathology!</h1>
</div>
<br/>
<b><a href="https://slimwiki.com/digital-pathology/">Resources: Wiki and Tutorials</a></b>
<br/></br>
<b>Digital Pathology is a web application that provides a accessible, user-friendly online workbench for working with, sharing and analyzing pathology imaging data and image analysis algorithms from any web browser. Digital Pathnology is a on-going project in Dr. Jun Kong's lab at Georgia State University.</b>
<br/>
<br/>
Digital Pathology Goals:
<ul>
	<li>Encourage researchers and clinicians to share and exchange pathology data in 2D, 3D and temporal modalities conveniently through any web browser.</li>
	<li>Provide anyone with access to running and utilizing cutting-edge image analysis and processing algorithms from an easy, point-and-click interface.</li>
	<li>Facilitate and encourage researchers to share and upload their algorithms to this workbench for easier distribution and public validation.</li>
	<li>Establish a growing library of public pathology images and algorithms for public use.</li>
</ul>

For more information on how to use this workbench, please visit our <a href="https://slimwiki.com/digital-pathology/">wiki</a> for more information or if you would like to distribute your algorithms via our platform, please contact <a href="mailto:ays0110@gmail.com">Alice Shen</a> of Dr. Kong's lab.

</div>