
<div style="padding-top:70px;" class="container">
<h1>Digital Pathology Imageviewer</h1>
<p>Welcome to Digital Pathology, an online workbench for viewing, sharing and analyzing pathology images.</br>To begin, please <a href="/users/sign_up">create an account</a>.</p>
<p>Digital Pathology is maintained by Divya Bhuvanapalli and <a href="https://math.gsu.edu/jkong/index.html">Dr. Jun Kong's lab</a> at Georgia State University. <br/>Please direct any comments, questions or inquiries via <a href="mailto:dbhuvanapalli1@student.gsu.edu">email here.</a></p>
<br/><br/>

<div id="example-wide-dzi" class="openseadragon">
</div>
</div>

<script>
OpenSeadragon({
    id:            "example-wide-dzi",
    prefixUrl:     "/openseadragon/images/",
    tileSources: [{
        Image: {
            xmlns:    "http://schemas.microsoft.com/deepzoom/2008",
            Url:      "https://s3.amazonaws.com/pathology-imageviewer/sample/TCGA-EJ-5494-01A-01-BS1.4617dbb2-0f18-4142-b2c8-cee5160f7da7_files/",
            Format:   "jpeg", 
            Overlap:  "1", 
            TileSize: "254",
            Size: {
                Height: "20747",
                Width: "24001"
            }
        }
    }]
});
</script>
</br><br/>
</br><br/>
