/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../bower_components/formstone/dist/css
 */

@import "bootstrap";

body {
  padding-top: 5rem;
}

@media (min-width: 1200px){
	.container {
	    width: 100%;
	}
}

.image-table{
	background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:10px;
  -webkit-box-shadow: none;
  box-shadow: none;
 
}

.filelists { margin: 20px 0; }
.filelists h5 { margin: 10px 0 0; }
.filelists .cancel_all { color: red; cursor: pointer; clear: both; font-size: 10px; margin: 0; text-transform: uppercase; }
.filelist { margin: 0; padding: 10px 0; }
.filelist li { background: #fff; border-bottom: 1px solid #ECEFF1; font-size: 14px; list-style: none; padding: 5px; position: relative; }
.filelist li:before { display: none !important; } /* main site demos */
.filelist li .bar { background: #eceff1; content: ''; height: 100%; left: 0; position: absolute; top: 0; width: 0; z-index: 0;
	-webkit-transition: width 0.1s linear;
			transition: width 0.1s linear;
}
.filelist li .content { display: block; overflow: hidden; position: relative; z-index: 1; }
.filelist li .file { color: #455A64; float: left; display: block; overflow: hidden; text-overflow: ellipsis; max-width: 50%; white-space: nowrap; }
.filelist li .progress { color: #B0BEC5; display: block; float: right; font-size: 10px; text-transform: uppercase; }
.filelist li .cancel { color: red; cursor: pointer; display: block; float: right; font-size: 10px; margin: 0 0 0 10px; text-transform: uppercase; }
.filelist li.error .file { color: red; }
.filelist li.error .progress { color: black; }
.filelist li.error .cancel { display: none; }
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding:10px;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}
