.dg.main.a{
  margin-top:100px;
}

.run-description p{
  break-word:break-all;
}

.btn-primary{
  background-color: #1E419B !important;
  color:white !important;
}

.full-width-container{
  height:100%; 
  width:100%; 
  position:relative;
}

#searchFormCardContent .form-control{
  margin-bottom:15px;
}

#searchFormCard{
  margin-top:10px;
  padding:20px 0px;

  #searchFormCardContent{
    width:50%;
    margin-top:10px 0px 10px 0px;
    margin:0px auto; 
    max-width:500px
  }
}

#application-alert{
  width: 100%;
  margin-bottom: 0px;
  z-index:5;
}

.openseadragon{
    background:#eee;
}

.table-warning, .table-warning>td, .table-warning>th {
    background-color: #fcf8e3 !important;
}

.table-success, .table-success>td, .table-success>th {
    background-color: #dff0d8 !important;
}

.table-info, .table-info>td, .table-info>th {
    background-color: #d9edf7 !important;
}

#top-nav{
    z-index:6;
    width:100%;
    background-color: #1E419B !important;
    flex-direction:row;
}

.bmd-layout-drawer .list-group {
    padding-top: 1rem;
}

.bmd-layout-drawer header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
}

.bmd-layout-drawer .list-group .list-group-item {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    font-size: .8125rem;
    font-weight: 500;
}

.bmd-layout-drawer * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.drawer-tab{
	height:100%;
	opacity:0;
	visibility:hidden;
	display:none;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    max-height: 100%;
	&.active{
		visibility:visible;
		display:flex;
		opacity:1;
	}
}

#runtime-overlay {
	outline-style: solid;
	outline-color: lime;
}

.full-width-container {
	max-width:100%;
    width: 100%;
}


.image_search {
  input, select{
    padding:5px
  }

  width: fit-content;
  max-width:700px;
  margin: 0px auto;
}

#top-nav .navbar-right{
	.material-icons{
		color:white;
	}
}

.navbar-nav{
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.image-table, .main-content{
	background-color: #fff;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding:10px;
  	-webkit-box-shadow: none;
  	box-shadow: none;
 
}

.modal-header{
  flex-direction:column;
}

.full-width-container{
    padding-top:77px;
}

.sidebar-toggler{
  display:none;
}

.images_show, .runs_show_2d{
    .sidebar-toggler{
      display:block !important;
    }
    .full-width-container{
      height:100%;
    }
    .navbar-toggler{
      display:none;
    }
}

.narrow-container{
  max-width:500px; 
  padding-top:50px; 
  margin:0px auto;
}

.filelists { margin: 20px 0; }
.filelists h5 { margin: 10px 0 0; }
.filelists .cancel_all { color: red; cursor: pointer; clear: both; font-size: 10px; margin: 0; text-transform: uppercase; }
.filelist { margin: 0; padding: 10px 0; }
.filelist li { background: #fff; border-bottom: 1px solid #ECEFF1; font-size: 14px; list-style: none; padding: 5px; position: relative; }
.filelist li:before { display: none !important; } /* main site demos */
.filelist li .bar { background: #eceff1; content: ''; height: 100%; left: 0; position: absolute; top: 0; width: 0; z-index: 0;
	-webkit-transition: width 0.1s linear;
			transition: width 0.1s linear;
}
.filelist li .content { display: block; overflow: hidden; position: relative; z-index: 1; }
.filelist li .file { color: #455A64; float: left; display: block; overflow: hidden; text-overflow: ellipsis; max-width: 50%; white-space: nowrap; }
.filelist li .progress { color: #B0BEC5; display: block; float: right; font-size: 10px; text-transform: uppercase; }
.filelist li .cancel { color: red; cursor: pointer; display: block; float: right; font-size: 10px; margin: 0 0 0 10px; text-transform: uppercase; }
.filelist li.error .file { color: red; }
.filelist li.error .progress { color: black; }

.filelist li.error .cancel { 
    display: none;
    border: 1px solid #dd;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#collapse-search-1{
    &.show{
        display:inline-block;
    }

    input{
        color:#fff;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:#ccc;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color:#ccc;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color:#ccc;
    }
    :-moz-placeholder { /* Firefox 18- */
      color:#ccc;
    }
}

@include media-breakpoint-down(sm) {

  table td{
   font-size:12px;
  }
  .images_show, .runs_show{
    height:calc(100% - 60px);
    
    #top-nav{
        position:fixed;
    }
    
    .full-width-container{
        padding:50px 0px 0px 0px;
    }
  }

  .image-name{
    max-width:100px;
  }

  .bmd-layout-drawer .list-group .list-group-item {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .bmd-layout-canvas .bmd-drawer-f-l>.bmd-layout-drawer{
    width:150px;
  }

  .bmd-layout-canvas :not(.bmd-drawer-out).bmd-drawer-in.bmd-drawer-f-l>.bmd-layout-content{
    margin-left:150px;
  }

  .bmd-layout-canvas .list-group-item :first-child{
     margin-right:.5rem;
  }

  .bmd-layout-canvas .navbar-brand{
    font-size:1rem;
  }
}

.slider-container{
  padding-left:0px; 
  background:#eee; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  margin-top:-20px;

  .slider-vertical{
    margin-top:15px;
    margin-bottom:20px;
  }
}


 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 4px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.osd-viewer{
  width: 800px;
  height: 800px;
}
.control-panel {
  position: 'relative';
  left: '90%';
}

