matplotlib
numpy==1.14.5
keras==2.1.3
Pillow
scikit-build==0.10.0
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.3.3
sklearn==0.0
tensorflow-gpu==2.5.2
oauthlib
opencv-python
openslide-python
h5py
setuptools==39.1.0
