<tr class="annotation-row" annotation-data="<%= annotation.data.to_json%>">
	<td><%=annotation.label%></td>
	<td><%=annotation.created_at.to_s(:short)%></td>
	<td>
		<%=link_to annotation_path(annotation), :data => {:method=> :delete, :confirm => 'Are you sure you want to delete this annotation?'} do %>
		<i style="font-size:18px;" class="material-icons" role="presentation">delete</i>
		<%end%>
	</td>
</tr>