<span data-tab="drawer-home" class="drawer-link" style="padding:15px;">
  <i onclick="viewer.annotations.clean()" style="vertical-align:bottom;" class="material-icons" role="presentation">arrow_back</i>
  <span>Back</span>
</span>

<header>
  <span style="white-space:pre-wrap;" class="navbar-brand">Annotations</span>
</header>
<ul class="list-group">
  <%if current_user %>
    <a class="start-draw list-group-item">
      <i class="material-icons" role="presentation">edit</i>Draw
    </a>
    <a style="display:none;" class="stop-draw list-group-item">
      <i class="material-icons" role="presentation">cancel</i>Stop Drawing
    </a>
    <a onclick="viewer.annotations.clean()" class="list-group-item">
      <i class="material-icons" role="presentation">delete</i>Clear
    </a>
  <% else%>
    <p style="padding:20px;">
      You must <%= link_to new_user_session_path do %>log in<% end %> to save drawn annotations.
    </p>
  <% end %>

  <header>
    <span style="white-space:pre-wrap;" class="navbar-brand">Load Existing Annotations</span>
    <span>Click to visualize a previously drawn annotation</span>
  </header>
  <table class="annotations-table table table-hover">
    <thead>
      <tr>
        <th>Label</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @image.annotations.order('id desc').each do |annotation| %>
        <%= render partial: "annotation_row", locals: {annotation: annotation} %>
      <% end %>
    </tbody>
  </table>
</ul>