<header>
  <span style="white-space:pre-wrap; overflow-wrap: break-word;" class="navbar-brand"><%=image.title%></span>
</header>
<ul class="list-group">
  <a data-tab="drawer-annotations" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">edit</i>Annotations
  </a>
  <a data-tab="drawer-data" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">inbox</i>Clinical Data
  </a>
  <a data-tab="drawer-home" class="list-group-item drawer-link" data-toggle="modal" data-target="#run-modal">
    <i class="material-icons" role="presentation">code</i>Run Analysis
  </a>
  <% if image.threed? %>
  <a href="<%=show_3d_image_path(image) %>" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">visibility</i>View in 3D
  </a>
  <% end %>

  <% if image.threed? %>
  <a href="<%=show_volume_image_path(image) %>" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">layers</i>3D Volume <sup style="color:orange"> Beta </sup>
  </a>
  <% end %>

  <li class="bmd-layout-spacer"></li>

  <a class="list-group-item">
    <i class="material-icons" role="presentation">help_outline</i><span class="sr-only">Help</span>
  </a>
</ul>