<header>
  <span style="white-space:pre-wrap;" class="navbar-brand"><%=image.title%></span>
</header>
<ul class="list-group">
  <a data-tab="drawer-annotations" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">edit</i>Annotations
  </a>
  <a data-tab="drawer-data" class="list-group-item drawer-link">
    <i class="material-icons" role="presentation">inbox</i>Clinical Data
  </a>

  <li class="bmd-layout-spacer"></li>

  <a class="list-group-item">
    <i class="material-icons" role="presentation">help_outline</i><span class="sr-only">Help</span>
  </a>
</ul>