<div class="container">
	<br/><br/>
	<h1>Confirm Deletion</h1>
	<h4>Please the images that you would like to delete.</h4>
		<ul>
			<li>Please note that deletion is permanent and deleted images cannot be retrieved.</li>
			<li>Uncheck a row to exclude the image from deletion</li>
		</ul>
	</h4>
	<br/><br/>
	<%= form_tag delete_images_path do %>
		<%= submit_tag "Confirm Delete", :style=>"float:right", :class=> 'btn btn-success btn-raised btn-danger'%>
		<br/><br/>
		<div class="image-table">
			<%= render :partial => 'images/confirm_table.html.erb', :locals => { :images=>@images }%>
		</div>
	<% end %>

</div>