<!DOCTYPE html>
<html>
<head>
  <title>Imageviewer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
<body>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
